
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}
@model List<Model.article>
<style>
    .view-content {
        width: 400px;
        display: inline-block;
    }

    .navigation {
        text-align: center;
    }
</style>
<div class="layui-container article-ul">
    <div class="layui-row">
        @{ BLL.DataDisplay data = new BLL.DataDisplay(); }
        @foreach (var item in Model)
        {
            <ul class="view-content">
                <li class="h3">@item.ArticleName<small>By @item.ArticleName</small></li>
                <li class="lead">@item.Content</li>
                <li>
                    <small>@item.ReleaseDateTime</small>
                    <div class="layui-row ">
                        <span>
                            <i class="layui-icon layui-icon-praise"></i>@data.Conversion(item.like)
                            <i class="layui-icon layui-icon-star"></i>@data.Conversion(item.Favorite)
                            <i class="layui-icon layui-icon-reply-fill"></i>@data.Conversion(item.Comment)
                        </span>
                    </div>
                </li>
                <li>
                    <hr class="layui-bg-gray">
                </li>
            </ul>
            <span>&nbsp;&nbsp;&nbsp;</span>
        }

        <nav aria-label="Page navigation" class="navigation">
            <ul class="pagination pagination-lg">
                <li><a href="~/Home/Index?page=1">首页</a></li>
                <li>
                    <a href="~/Home/Index?page=@(ViewBag.page-1<=1?1:ViewBag.page-1)">
                        上一页
                    </a>
                </li>
                <li>
                    <a href="~/Home/Index?page=@(ViewBag.page+1>=ViewBag.total?ViewBag.total:ViewBag.page+1)">
                        下一页
                    </a>
                </li>
                <li>
                    <a href="~/Home/Index?page=@(ViewBag.total)">尾页</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

